<div class="tasks__creator">
    <input 
      class="tasks__text" 
      type="text" 
      placeholder="Enter text..."
      [(ngModel)]="text"
    >
    <div class="tasks__priority">
      <select [(ngModel)]="priority">
        <option value="High" label="High"></option>
        <option value="Medium" label="Medium"></option>
        <option value="Low" label="Low"></option>
      </select>
    </div>
    <button (click)="addTask()" class="tasks__add-button" type="button"></button>
  </div>
