.tasks__creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
  }
  
  .tasks__creator input[type="text"] {
    display: block;
    width: 480px;
    font-size: 24px;
    font-family: 'Balsamiq Sans';
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 4px;
    margin-bottom: -2px;
    height: 30px;
    border: black 4px solid;
    color: black;
    border-radius: 3px;
  }
  
  .tasks__creator input[type="text"]::-webkit-input-placeholder {
    color: grey;
    font-size: 25px;
  }
  
  .tasks__add-button {
    display: block;
    position: relative;
    margin-top: -10px;
    width: 30px;
    height: 8px;
    background-color: black;
    border: none; 
    outline: none;
    border-radius: 3px;
  }
  
  .tasks__add-button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 3px;
  }
  
  .tasks__priority {
    position: relative;
  }
  
  .tasks__priority select{
    margin-top: -2px;
    height: 44px;
    border: black 3px solid;
    border-radius: 3px;
    padding-right: 7px;
    font-family: "Balsamiq Sans", Arial, sans-serif;
    color:black;
    font-size: 25px;

  }
  
  .tasks__priority::after{
    content: "";
    position: absolute;
    top: -2px;
    right: 21px;
    width: 3px;
    height: 43px;
    background-color: black;
  }

  .tasks {
    width: 680px;
    padding: 10px;
    margin: auto;
    margin-top: 300px;
  }