.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.tasks__order {
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .filter {
    margin-top: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }
  
  .fitter__wrap {
    margin: 0;
    padding: 0
  }
  
  .filter input{
    position: relative;
  }
  
  .filter input + label{
    margin: 10px;
    margin-left: 20px;
  }
  
  .filter input:not(:checked) + label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .filter input:not(:checked) + label[for="checkbox__high"]::before{
    left: 174px;
  }
  
  .filter input:not(:checked) + label[for="checkbox__medium"]::before{
    left: 276px;
  }
  
  .filter input:not(:checked) + label[for="checkbox__low"]::before{
    left: 416px;
  }
  
  .filter input:checked + label::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .filter input:checked + label[for="checkbox__high"]::after{
    left: 174px;
  }
  
  .filter input:checked + label[for="checkbox__medium"]::after{
    left: 276px;
  }
  
  .filter input:checked + label[for="checkbox__low"]::after{
    left: 416px;
  }
  
  .sort {
    margin-top: 10px;
    margin-left: 6px;
  }
  
  .sort__button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  label[for="sort__checkbox"] {
    position: relative;
  }
  
  .sort__button:not(:checked) + label[for="sort__checkbox"]::before {
    content: "";
    position: absolute;
    left: -46px;
    top: -8px;
    width: 48px;
    height: 48px;
    background-image: url(../../assets/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .sort__button:checked + label[for="sort__checkbox"]::after {
    content: "";
    position: absolute;
    left: -34px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/images/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  