<div class="tasks__order">
    <div class="filter">
     <input (change)="filter()" (click)="clickHandler($event)" [(ngModel)]="completeCheck" class="visually-hidden" type="checkbox" id="checkbox__completed"><label for="checkbox__completed">Completed</label>
     <input (change)="filter()" (click)="clickHandler($event)" [(ngModel)]="highCheck" class="visually-hidden" name="filter-radio" type="checkbox" id="checkbox__high"><label for="checkbox__high">High</label>
     <input (change)="filter()" (click)="clickHandler($event)" [(ngModel)]="mediumCheck" class="visually-hidden" name="filter-radio" type="checkbox" id="checkbox__medium"><label for="checkbox__medium">Medium</label>
     <input (change)="filter()" (click)="clickHandler($event)" [(ngModel)]="lowCheck" class="visually-hidden" name="filter-radio" type="checkbox" id="checkbox__low"><label for="checkbox__low">Low</label>
    </div>
    <div class="sort">
     <input (change)="sort()" class="visually-hidden sort__button" type="checkbox" id="sort__checkbox"><label for="sort__checkbox">Date</label>
    </div>
  </div>
