<div  *ngIf="!isLoading" class="tasks__container">
    <div *ngFor="let task of (tasksService.filteredTasks); let i = index" class="task" [id]="task.id">
        <div class="task__priority--wrap"><p class="task__priority">{{task.priority}}</p></div>
        <div class="task__container">
         <div class="task__description">
           <div class="task__wrapper">
           <p class="task__text"><textarea (change)="updateText(task.id)" class="txta" [(ngModel)]="task.text">{{task.text}}</textarea></p>
           <div *ngIf="task.isActive" class="task__buttons">
            <button [id]="task.id" (click)="completeTask(task.id)" class="task__done-button"></button>
            <button [id]="task.id" (click)="cancelTask(task.id)" class="task__cancelled-button"></button>
           </div>
           </div>
           <div class="task__dates">
             <span class="task__date">{{task.creationDate | date:'dd/MM/yyyy HH:mm'}}</span>
             <p *ngIf="task.isDone" class="task__result">Done at {{task.finishDate | date:'dd/MM/yyyy HH:mm'}}</p>
             <p *ngIf="task.isCancelled" class="task__result">Cancelled at {{task.finishDate | date:'dd/MM/yyyy HH:mm'}}</p>
           </div>
          </div>
        </div>
        <button class="task__delete-button" [id]="task.id" (click)="removeTask(task.id)"></button>
      </div>
</div>

<div  *ngIf="isLoading"><img src="../../assets/images/loading.jpg"></div>