main {
  font-family: "Balsamiq Sans", Arial, sans-serif;
  color:black;
  font-size: 25px;
  background: #fff5ee url(../assets/images/squared-background.jpg) repeat;
  background-size: 20%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tasks {
  width: 680px;
  padding: 10px;
  margin: auto;
  margin-top: 300px;
}

.tasks__creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks input[type="text"] {
  display: block;
  width: 500px;
  font-size: 24px;
  font-family: 'Balsamiq Sans';
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 6px;
  height: 30px;
  border: black 4px solid;
  color: black;
  border-radius: 3px;
}

.tasks input[type="text"]::-webkit-input-placeholder {
  color: grey;
  font-size: 25px;
}

.tasks__add-button {
  display: block;
  position: relative;
  margin-top: -10px;
  width: 30px;
  height: 8px;
  background-color: black;
  border: none; 
  outline: none;
  border-radius: 3px;
}

.tasks__add-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  width: 10px;
  height: 30px;
  background-color: black;
  border-radius: 3px;
}

.tasks__priority {
  position: relative;
}

.tasks__priority select{
  margin-top: -2px;
  height: 44px;
  border: black 3px solid;
  border-radius: 3px;
  padding-right: 7px;
  padding-left: 3px;
}

.tasks__priority::after{
  content: "";
  position: absolute;
  top: -2px;
  right: 21px;
  width: 3px;
  height: 43px;
  background-color: black;
}

.task__delete-button {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  margin-right: -122px;
}

.task {
  width: 725px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-left: -85px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.task__container {
  width: 625px;
  min-height: 100px;
  padding: 10px;
  margin-left: -100px;
  display: flex;
  justify-content: space-between;
  border: 3px black solid;
  background-color: white;
}

.task__delete-button::after {
  content: "";
  position: absolute;
  left: -90px;
  top: 8px;
  width: 32px;
  height: 32px;
  background-image: url(../assets/images/trash-bin.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.task__description {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task__wrapper {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.task__dates {
  width: 625px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.task__result{
  margin: 0;
}

.task__text {
  margin: 0;
  margin-bottom: 15px;
  width: 590px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.task__text textarea{
  margin: 0;
  width: 100%;
  max-width: 590px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: white;
  color: black;
}

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task__date {
  margin-bottom: 0;
}

.task__buttons {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.task__done-button, .task__cancelled-button {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
}

.task__done-button::before, .task__cancelled-button::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 38px;
  width: 35px;
  height: 35px;
  background-image: url(../assets/images/tick.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.task__cancelled-button::before {
  top: -48px;
  left: -4px;
  background-image: url(../assets/images/cross.svg);
}

.task__priority--wrap{
  margin-left: -24px;
}

.task__priority{
  color: red;
  margin-top: 5px;
  width: 92px;
  text-align: right;
}