@font-face {
    font-family: "AmaticSC";
    src: local("AmaticSC-Bold"),
      url("./assets/fonts/amatic-sc-v15-latin_cyrillic-700.woff2") format("woff"),
      url("./assets/fonts/amatic-sc-v15-latin_cyrillic-700.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Balsamiq Sans";
    src: local("Balsamiq Sans"),
      url("./assets/fonts/BalsamiqSans-Regular.woff2") format("woff"),
      url("./assets/fonts/BalsamiqSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
  font-family: "Balsamiq Sans", Arial, sans-serif;
  color:black;
  font-size: 25px;
  background: #fff5ee url(./assets/images/squared-background.jpg) repeat;
  background-size: 20%;
}